{% extends 'base.html.twig' %}

{%block body%}

<h2>Welcome to Petshop</h2>
<p>Where you can find your dream pet</p>

<div>

    Browse through {{ pets|length }} Pets!

    {% if pets|length >= 50 %}

        <p>(Wow, that's a lot of pets!)</p>

    {% endif %}

</div>

<div>

    <h3>Find your next paw-friend!</h3>

    <table>
      <tr>
        <th>Name</th>
        <td>
        <a href="{{ path('app_pet_show', {'id': myPet.id}) }}">
        {{ myPet.name }}
        </td>
      </tr>
      <tr>
        <th>Species</th>
        <td>{{ myPet.species }}</td>
      </tr>
      <tr>
        <th>Age</th>
        <td>{{ myPet.age|join(' ') }}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>{{ myPet.status }}</td>
      </tr>
    </table>

</div>
{%endblock%}